:root {
    --darkred: #331412;
    --mediumred: #714140;
    --darkpink: #c28e88;
    --lightpink: #e0cdcc;
}


.btn {
    background-color: var(--mediumred);
    color: ivory;
    padding: 0.5em 1.5em;
    font-size: 16px;
    font-family: Peachi-regular, Peachi, Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 20px;
    box-shadow: 3px 3px 4px #331412;
}

.btn:hover {
    background-color: #c28e88;
}

.btn:active {
    transform: translateY(3px);
}