.btn {
    border-radius: 16px;
    padding: 8px 16px;
    height: 36px;
    font: 16px 'Peachi', arial, helvetica;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.linen {
    background-color: $linen;
    color: $espresso;

    &:hover {
        background: $akaroa;
    }

    &:active {
        transform: translateY(4px);
        background: $akaroa;
    }
}

.sepia {
    background-color: $sepia;
    color: $linen;

    &:hover {
        background-color: $espresso;
    }

    &:active {
        transform: translateY(4px);
        background-color: $espresso;
    }
}