.btn {
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    width: fit-content;
    font: 2rem $primary-font;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:active {
        transform: translateY(4px);
    }
}

.blue {
    background-color: $linen;
    color: $primary-color;

    &:hover {
        background: $secondary-color;
    }

    &:active {
        background: $secondary-color;
    }
}

.orange {
    background-color: $quarternary-color;
    color: $linen;

    &:hover {
        background-color: $tertiary-color;
    }

    &:active {
        background-color: $tertiary-color;
    }
}