.btn {
    border-radius: 2.5rem;
    padding: 1rem 2rem;
    width: fit-content;
    font: 2rem $primary-font;
    font-weight: 500;
    letter-spacing: .5rem;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:active {
        transform: translateY(4px);
    }
}

#top {
    display: none;
    background-color: $tertiary-color;
    cursor: pointer;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    border: none;
    box-shadow: 0 0 0.2rem $quarternary-color;
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    z-index: 1000;
    transition: 0.3s ease;

    i {
        color: $linen;
        font-size: 4rem;
    }

    &:active {
        transform: translateY(4px);
    }
}

.blue {
    background-color: $linen;
    color: $primary-color;

    &:hover {
        background: $secondary-color;
    }

    &:active {
        background: $secondary-color;
    }
}

.orange {
    background-color: $quarternary-color;
    color: $linen;

    &:hover {
        background-color: $tertiary-color;
    }

    &:active {
        background-color: $tertiary-color;
    }
}