.footerPrimary {
    background-color: $secondary-color;
    color: $linen;
    padding: 2rem;
    width: 100vw;
    height: fit-content;
    text-align: center;
    font-family: $primary-font;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    gap: 3rem;

    a {
        color: $linen;

        &:hover {
            color: $tertiary-color;
        }
    }
}

.footerPrimaryContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    a {
        img {
            width: 20rem;
            height: auto;
            cursor: pointer;
        }
    }

}

.footerPrimaryContainerLinks {
    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        gap: 64px;
        cursor: pointer;
        font-size: 3rem;
        font-weight: 400;
    }
}

.footerPrimaryContainerSocial {

    ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        width: fit-content;
        gap: 2rem;

        img {
            width: 4rem;
            height: auto;
            cursor: pointer;
        }

    }
}

.footerPrimaryCopy {
    font-size: 2rem;
    font-weight: 300;
}

@media (max-width: $breakpoint-mobile) {

    .footerPrimaryContainerLinks {
        ul {
            flex-direction: column;
            gap: 16px;
        }
    }

}