$espresso: #5D2C1C;
$driftwood: #B37C47;
$tan: #CDA77B;
$akaroa: #DCC8AE;
$dustyrose: #C18979;
$sepia: #974D3C;
$linen: #FFFAF5;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;