$primary-color: #264653;
$secondary-color: #2a9d8f;
$tertiary-color: #e9c46a;
$quarternary-color: #f4a261;
$quinary-color: #e76f51;
$senary-color: #974D3C;
$linen: #FFFAF5;

$primary-font: 'Phudu', Arial, Helvetica, sans-serif;
$secondary-font: 'Open Sans', Arial, Helvetica, sans-serif;

$breakpoint-mobile: 600px;
$breakpoint-tablet: 820px;
$breakpoint-desktop: 1024px;